#header {
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    size:30px;
    text-decoration:underline;
    padding:0;
    margin-top:50;
}

nav ul {
    text-align:center;
    padding:0;
    background-color: goldenrod;

}

li {
    display:inline;
    
}

li a {
    border:2px solid #151531;
    background-color: #9391d8;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    margin: auto;
    display: block;
    width: 100%;
}

section {
    margin-left:auto;
    margin-right:auto;
    width:60%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0;
}

section figcaption {
    margin:inherit;
    font-family: 'Times New Roman', Times, serif;
    size:6px;
    text-align: right;
    font-style:italic;
    margin-bottom:20px;
    
}